@charset "UTF-8";

main
{
	text-align: center;
}

h1, h3
{
	margin: 30px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

h3
{
	font-size: 24px;
}

.container
{
	width: 30%;
	display: inline-block;
	margin: 30px;
}